*, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Heboo;
    src: url(../font/Heebo-VariableFont_wght.ttf);
    font-family: Inter;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

.flexbox {
    display: flex;
}

.header {

    .img-thumbnail {
        height: 243px;
        width: 243px;
    }

    .profiel-name p {
        font-family: Heboo;
        font-size: 44px;
        font-weight: bold;
    }

    .about p {
        font-size: 16px;
        font-family: Heboo;
    }
}

.jumbotron {

    font-family: Inter;
    
    h4 {
        color: green;
        font-size: 18px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 14px;
    }

    .sma p {
        font-size: 12px;
        font-style: italic;
    }

    .kuliah p {
        font-size: 12px;
        font-style: italic;
    }

    li {
        font-size: 12px;
        margin-left: 13px;
        color: #52575C;
    }
}

.project {

    font-family: Inter;
    
    p {
        color: green;
    }

    h3 {
        font-size: 18px;
        color: green;
    }

    .img-thumbnail {
        width: 246px;
        height: 180px;
        border-radius: 10%;
    }

    .btn {
        margin-right: 30px;
        width: 62px;
        height: 25px;
    }


}


.footer {
    font-size: 14px;
    font-family: Heboo;
    text-align: center;
}

.img-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
}


